[package]
name = "nordselect"
description = "Select the ideal NordVPN server"
version = "1.1.0"
authors = ["Ward Segers <w@rdsegers.be>"]
repository = "https://github.com/editicalu/nordselect"
license = "MIT"
homepage = "https://editicalu.github.io/nordselect"
keywords = ["vpn", "nordvpn"]

[dependencies]
serde = "^1"
serde_derive = "^1"
serde_json = "^1"
reqwest = "0.9.10"
oping = "0.3.3"
regex = "^1"

[dependencies.clap]
version = "^2"
default-features = false
features = [ "suggestions", "color" ]

