name: Rust

on: [push]

jobs:
  build:
    runs-on: ubuntu-focal

    steps:
    - uses: actions/checkout@v1
    - name: Build
      run: cargo build --verbose
    - name: Prepare dummy data for the test
      run: ./dummydata.sh
    - name: Run tests
      run: cargo test --verbose
